@media (min-width: 768px) {
  * {
    font-size: 18px;
  }
  #header h1 {
    font-size: 21px;
  }
  #body ul li img {
    max-width: 100px;
  }
}
@media (max-width: 1199px) {
  
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 479px) {
  
}
